 <?xml version='1.0' encoding='utf-8' ?>
       <widget id="com.craftycuby" version="0.0.1">
        <name>Crafty cuby</name>
        <description>
            Jeu de plateforme sur une idée de diamonds
        </description>
        <author email="jmd@talandria.fr" href="http://talandria.fr">
            Talandria Team dev
        </author>
        <content src="index.html" />
        <access origin="*" />
        <splash src="img/default.png" />
        <icon src="img/icon.png" platform="ios" width="57" height="57" density="mdpi" />
        <icon src="img/icon-72.png" platform="android" />
        <preference name="Fullscreen" value="true" />
        <preference name="Orientation" value="landscape" />
        <preference name="BackgroundColor" value="0xff0000ff"/>
        <preference name="SplashScreenDelay" value="20000" />
        
         
         
 </widget>