 
       <widget xmlns= "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id="com.craftycuby" version="0.0.2">
        <name>Crafty cuby</name>
        <description>
            Jeu de plateforme sur une idée de diamonds
        </description>
        <author email="jmd@talandria.fr" href="http://talandria.fr">
            Talandria Team dev
        </author>
        <content src="index.html" />
        <access origin="*" />
        <icon src="icon7.png"  />
        
        <gap:splash src="img/default.png" gap:platform="android" />
    
        <preference name="Fullscreen" value="true" />
        <preference name="Orientation" value="landscape" />
        <preference name="SplashScreenDelay" value="3000" />
        
         
         
        </widget>